@import "config";

body {
  background: $background-gradient-reverse;
  color: $color-1 !important;
  font-family: "Poppins", sans-serif !important;
  min-height: 100vh !important;
}

form {
  min-height: 20vh !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

header {
  @extend form;

  font-size: 1.5rem !important;
}

form {
  input {
    padding: 0.5rem !important;
    font-size: 2rem !important;
    border: none !important;
    background: $color-1 !important;
  }

  button {
    @extend input;

    color: $color-3 !important;
    background: $color-1 !important;
    cursor: pointer !important;
    @include easeTransition(0.3s);

    &:hover {
      background: $color-3 !important;
      color: $color-1 !important;
    }
  }
}

.todo-container {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;

  .todo-list {
    min-width: 30% !important;
    list-style: none !important;
  }
}

.calendar-list {
  min-width: 30% !important;
  list-style: none !important;
}

.todo,
.calendar {
  margin: 0.5rem !important;
  background: $color-1 !important;
  color: darken($color-1, 100%) !important;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  @include easeTransition(0.5s);

  li {
    flex: 1 !important;
  }
}

.complete-btn {
  background: $color-4-darkened !important;
  color: $color-1 !important;
  border: none !important;
  padding: 1rem !important;
  cursor: pointer !important;
  font-size: 1rem !important;
}

.todo-item {
  padding: 0rem 0.5rem !important;
}

.fa-trash,
.fa-check {
  pointer-events: none !important;
}

.completed {
  text-decoration: line-through !important;
  opacity: 0.5 !important;
}

.remove {
  transform: translateX(20rem) !important;
  opacity: 0 !important;
}

select {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  outline: none !important;
  border: none !important;

  color: $color-2 !important;
  width: 10rem !important;
  cursor: pointer !important;
  padding: 1rem !important;
}

.home-btn {
  // background-color: darken($background-color-1, 10%) !important;
  background-color: $color-3 !important;
  border: none !important;
  position: absolute !important;
  color: $color-1 !important;
  width: 75px !important;
  height: 37.5px !important;
  left: 20px !important;
  top: 20px !important;
  cursor: pointer !important;
  @include easeTransition(0.3s);

  &:hover {
    background-color: $color-3-darkened !important;
  }
}

#home-title {
  font-size: 2rem !important;
}

.todo-btn,
.calendar-btn {
  color: $color-1 !important;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;

  .row {
    height: 200px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;

    .col {
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;

      .btn {
        width: 200px;
        height: 100px;
        border: 1px solid $color-1 !important;
        font-size: 2rem !important;
      }
    }
  }
}

.calendar-input {
  padding: 0.5rem !important;
  font-size: 1.5rem !important;
  border: none !important;
  background: $color-1 !important;
}
.calendar-text-input {
  padding: 0.5rem !important;
  font-size: 0.75rem !important;
  border: none !important;
  background: $color-1 !important;
}

.calendar-form {
  display: flex !important;
  flex-direction: column !important;
}

.calendar-inner-form {
  display: flex;
  flex-direction: row;
}

.clear-calendar {
  position: absolute;
  top: 10px;
  right: 20px;
  background: none !important;
  border: none !important;
  color: $background-color-1 !important;
  @include easeTransition(0.2s);

  &:hover {
    background: none !important;
    color: $background-color-2 !important;
  }
}

.temp-delete {
  @include easeTransition(0.2s);
  opacity: 50%;
}
